@model IEnumerable<ECommerce.Models.FeedBack>

@{
    ViewBag.Title = "view Feedbacks";
}

<h2 style="margin-top:40px; margin-bottom:40px">View Feedbacks</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayName("User Name")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Content)
        </th>

    </tr>

@foreach (var item in Model)
{
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.UserName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Content)
    </td>

</tr>
}

</table>
