@model IEnumerable<ECommerce.Models.FeedBack>

@{
    ViewBag.Title = "view Feedbacks";
}

<h2>view Feedbacks</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Content)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Content)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
       
    </tr>
}

</table>
